{% extends 'base.html' %}

<!-- Content -->

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="user_login">
            <h2 class="montserrat">Forgot Password</h2>

            <form method="post" action="" class="action_form">
                {% csrf_token %}

                <p><strong>Lost your password?</strong> </p>
                <p>Please enter your username or email address. You will receive a link to create a new password via email.</p>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="" class="cus_field" autocomplete="new-email" placeholder="Enter your email"/>
                </div>
                <button type="submit" name="submit" class="roboto_condensed cus_button" value="Reset password">Reset password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
