@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,700|Roboto:100,100i,300,300i,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,700');

.v_middle {
    vertical-align: middle !important;
}

.cus_messages {
    padding-left: 20px !important;
}

.cus_messages i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 11px 0 0;
    margin: -2px 0 0 0;
}

.cus_input-text {
    width: auto !important;
    margin: 0 10px 0 0 !important;
}

.cus_cart_totals {
    border-width: 1px;
    padding: 15px 30px 30px 30px;
    border-style: solid;
    position: relative;
    margin: 30px 0 60px 0;
    border-color: #e1e1e1;
    float: none;
    width: 100%;
}

.cus_cart_totals table {
    border-width: 0px 0 0 0 !important;
}

.cus_cart_totals table tr td, .cus_cart_totals table tr th {
    padding: 10px 25px 10px 0 !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
}

.cus_cart_totals .order-total th, .cus_cart_totals .order-total td {
    border-width: 0px 0 0 0 !important;
}

.cus_cart_totals tr td {
    text-align: right;
}

.cus_cart_totals .order-total th {
    border: 0 !important;
    font-size: 16px !important;
    padding-top: 20px !important;
    font-weight: bold !important;
}

.cus_cart_totals .order-total td {
    font-size: 24px !important;
}

.cus_cart_totals .wc-proceed-to-checkout a {
    display: block !important;
    text-align: center;
    margin: 0;
    font-size: inherit;
    padding: 0 20px;
}

/** login page **/

.userLoginDiv {
    width: 50%;
    margin: 0px auto;
}

.userLoginDiv .form-row {
    display: inherit;
}

.woocommerce-Button.button {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

.userLoginDiv a {
    text-decoration: none;
}

.user_or_email_field {
    width: 47%;
}

.woocommerce-notices-wrapper {
    margin: 0 0 60px 0;
}

.user_registration label {
    display: block;
    width: 100%;
}

.user_registration input[type=file] {
    line-height: 30px;
}

.user_registration .required {
    color: red;
    font-weight: 700;
    border: 0 !important;
    text-decoration: none;
    visibility: visible !important;
}

.user_registration .form-row a {
    text-decoration: none;
}

.shipping-cost-box {
    margin-bottom: 15px;
}

.shipping-cost-box > div {
    display: inline-block;
}

.select2-container .select2-selection--single {
    height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px !important;
}

.dashboard-data-search-filter form {
    width: 240px;
}

.dashboard-data-search-filter .daterange {
    border: 1px solid #ccc;
    padding: 3px 5px 0px;
}

.daterange.bt-date-field.dashboard-daterange.bt-date-field {
    border: 1px solid #ccc !important;
    padding: 3px 5px 0px !important;
    /* position: relative; */
    /* left: -150px; */
    height: 38px !important;
    align-items: center !important;
    /* justify-content: center; */
    display: flex !important;
    border-radius: 4px !important;
}


/* Dropdown menu */

.has-menu {
    position: relative;
}

.child-menu {
    display: none;
}

.has-menu:hover .child-menu {
    display: block;
    position: absolute;
    top: 47px;
    left: 0;
    min-width: 240px;
    background: #151212;
}

.has-menu:hover .child-menu::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 46px;
    width: 30px;
    height: 30px;
    background-color: #000;
    transform: rotate(136deg) !important;
    -webkit-transform: rotate(136deg) !important;
    -moz-transform: rotate(136deg) !important;
    -ms-transform: rotate(136deg) !important;
    -o-transform: rotate(136deg) !important;
}

.child-menu ul {
    position: relative;
    z-index: 1;
    background: #151212;
    padding: 10px 15px;
}

.child-menu ul li {
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
    padding: 0px;
}

.child-menu ul li:last-child {
    margin: 0 0 0px 0;
}

.child-menu ul li a {
    display: block;
    width: 100%;
    color: #FFF;
    text-decoration: none;
    border: 0px !important;
    transition: .15s;
}

.child-menu ul li a:hover {
    color: #ffde00;
}

/* End Dropdown menu */

/*Edit by Lukman its work only for responsive filemanager godspeed issue 12421*/
.fancybox-slide--iframe .fancybox-content {
    background: #fff;
    height: 100% !important;
    width: 100% !important;
}

/*# manage custom fields #*/
.manage-custom-field-container .select2-container--default .select2-selection--single .select2-selection__rendered[id^=select2-category_id] .select2-selection__placeholder {
    color: #495057;
}

.manage-custom-field-container .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.manage-custom-field-container .cus_button_reset {
    background-color: #000;
}

.manage-custom-field-container .funnel_header .funnel_seachbox {
    border: 1px solid #d7d7d9;
    border-radius: 6px;
    background-color: #fff;
}

.manage-custom-field-container .funnel_seachbox h6.montserrat {
    font-weight: 600;
    font-size: 14px;
}

#customfieldtab .nav-link {
    background: #d8d8d8;
    border-radius: 0;
    color: #000;
    border: none;
    margin-left: 2px;
    transition: .15s;
}

#customfieldtab .nav-link:hover {
    background: #8c8c8c;
}

#customfieldtab .nav-link.active {
    background: #000;
    border-radius: 0;
    color: #ffde00;
}