{% extends 'base.html' %}

{% block content %}

 <div class="row">
    <div class="col-md-12">
        <main class="my_account">
            <h3 class="montserrat page-title">{{ title }}</h3>
        </main>
    </div>
</div>

<div class="main_content" style="min-height: 350px">
    <div class="row montserrat">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>2415</h3>
                        <span>Gym Owner </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-left text-right smsCardActive">
                        Active : 643
                    </div>
                    <div class="pull-right text-right smsCardInactive">
                        Inactive : 271
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>478</h3>
                        <span>Funnels </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-left text-right smsCardActive">
                        All Gym Owner
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>2319</h3>
                        <span>Campaigns </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-left text-right smsCardActive">
                        All Gym Owner
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="dashboard-data-search-filter">
        <form action="https://prepro2-smsportal.protibimbo.com/" method="get" style="width: 100%;">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <select name="gym_owner_id" id="gym_owner_id" class="form-control search_field ajax_user_search"
                            data-role="2" style="width: 100%;display: inline-block">
                        <option value="">Select Gym Owner</option>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="daterange bt-date-field dashboard-daterange bt-date-field">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar fa-fw"></i>&nbsp;
                        <span></span><b class="caret"></b>
                        <input type="hidden" name="date_range">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="clearfix"></div>

    <div class="row montserrat">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>2</h3>
                        <span>Leads </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-left text-right smsCardActive">
                        # of Leads
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>0</h3>
                        <span>Scheduled </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-right text-right smsCardInactive">
                        Lead > Scheduled : <span class="dashboard_percent">0%</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>0</h3>
                        <span>Past Scheduled </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-right text-right smsCardInactive">
                        % Past Scheduled : <span class="dashboard_percent">0%</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row montserrat">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>0</h3>
                        <span>Showed </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-right text-right smsCardInactive">
                        Past Scheduled > Showed : <span class="dashboard_percent">0%</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>0</h3>
                        <span>Confirmed </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-right text-right smsCardInactive">
                        Past Scheduled > Confirmed : <span class="dashboard_percent">0%</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>0</h3>
                        <span>Sold </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-right text-right smsCardInactive">
                        Showed > Sold : <span class="dashboard_percent">0%</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="smsCard">
                <div class="smsCardheader">
                    <div class="pull-left smsCardheaderImg">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="pull-right text-right smsCardheaderCtg">
                        <h3>0</h3>
                        <span>Amount</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="smsCardStatus">
                    <div class="pull-left text-right smsCardActive">
                        Amount Down : 0<br>
                        Contract Value : 0
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    // date range picker
    var start = moment('2021-11-1', 'YYYY-MM-DD');
    var end = moment('2021-11-30', 'YYYY-MM-DD');

    $('.daterange').daterangepicker({
        startDate: start,
        endDate: end,
        opens: "left",
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

    $('.daterange').on('apply.daterangepicker', function (ev, picker) {
        $('form').submit();
    });

    $(document).ready(function () {
        $('select[name=gym_owner_id]').on('change', function () {
            $('form').submit();
        });
    });

    function cb(start, end) {
        $('.daterange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
        $('.daterange input').val(start.format('YYYY-MM-DD') + ',' + end.format('YYYY-MM-DD'));
    }

</script>

{% endblock  %}
